
name: Backend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      

      - name: Build JAR
        run: |
          cd backend
          mvn clean package -DskipTests
      - name: Build Docker Image
        run : |
          docker build -t my-app backend/

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & Push Backend Image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/my-java-backend:latest ./backend
          docker push ghcr.io/${{ github.actor }}/my-java-backend:latest

