name: Frontend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies & Build
        run: |
          cd frontend
          npm install
          npm run build

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & Push Frontend Image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/my-react-frontend:latest ./frontend
          docker push ghcr.io/${{ github.actor }}/my-react-frontend:latest

